.form-container{
    width: calc(100% - 800px);
}

.container{
    background: blue;
    padding-right: 40px;
    padding-bottom: 10px;
}

#demo-mutiple-checkbox{
    border-color: white;
    border: 1px solid white;
    color: black;
    background-color: rgb(255, 255, 255);
}

#demo-mutiple-checkbox-label{
    color: rgb(194, 194, 194);
    
}
.MuiInputLabel-formControl{
    z-index: 10;
    position: absolute;
    left: 10;
}
#search{
    color: white;
   
}

